# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Locks
package-lock.json
npm-shrinkwrap.json

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Folders
tmp
build
dist
